.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -7px;
	margin-right: -7px;
}

.speech-bubble-right a {
	display: block;
}

.speech-bubble-left:after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}

/* make sure the footer doesn't rise up into the content area on short pages */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between
}
