---
layout: default
---



<ol class="breadcrumb mt-2">
  <li class="breadcrumb-item active" aria-current="page">
    <a href="#" onclick="history.back();"><span class="material-icons">backspace</span>
      Back</a>
  </li>
</ol>


<h1 class="mt-3">{{ page.patron_question }}</h1>

<div class="card mt-5">
  <div class="card-body">
    <p class="card-title lead">{{ page.clarifying_question }}</p>
    <ul class="mt-5 list-unstyled">
      {% for response in page.possible_responses %}
      <li class="mt-1">
        <a href="{{ response.first[0] | relative_url }}" class="btn btn-primary">
          <span class="material-icons">done_outline</span>
          {{ response.first[1] }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


{{ content }}