---
layout: default
---

<h1>{{page.title}}</h1>
{{content}}

{% if page.related_diys %}
  <h2>Related DIYs</h2>
  <ul>
    {% for diy in page.related_diys %}
      {% for related_page in site.pages %}
        {% if related_page.url contains diy %}
          <li class="list-group-item bg-primary mt-1">
            <a href="{{ diy | relative_url }}" class="text-white"><span
              class="badge rounded-pill material-icons">explore</span>
            {{ related_page["title"] }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
